.card-forecast-today {
  background-color: #fff;
  border-radius: 0.5rem;
  
  padding: 0.5rem;
  width: 100%;
}

@media (width > 450px) {
  .card-forecast-today {
    width: 430px;
  }
}
