.header-forecast-today {
  background-color: #000;
  border-radius: 0.5rem;
  color: #fff;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.2rem;
}
